<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Acebook</title>
    <link rel="stylesheet" href="/main.css" />

</head>
<body>

    <div id="app"></div>
    <a href="/post">Click here to post a message</a>
    <p><a href="/readPosts">Click here to view posts</a></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>





    <script src="built/bundle.js"></script>

</body>
</html>
